* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Navigation Start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 15vh;
  padding: 2rem 4rem;
}

.nav-logo img {
  width: 10rem;
  cursor: pointer;
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  gap: 2rem;
}

.nav-links a {
  color: black;
}

.nav-links i {
  font-size: 0.8em;
  padding: 0 0.5vw;
}

.nav-login-btn button {
  padding: 0.8rem 2rem;
  width: 8vw;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: #fe8216;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nav-login-btn button:hover {
  background-color: #de7214;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}

/* Navigation End */

/* Hero Section Start */
.Hero-Section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  padding-top: 12vh;
}

.Hero-Section .Coders-Count p {
  font-size: 1.4em;
  border: 2px solid #de7214;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Hero-Section .tag-line h1 {
  font-size: 5.5em;
}

.Hero-Section .tag-line h2 {
  font-size: 2.4em;
}

.Hero-Section,
.tag-line {
  margin-block: 6vh;
}
.Hero-Section .tag-line-desc p {
  font-size: 1.3em;
  width: 57vw;
}
/* Hero Section End */

/* Live COHORT Section Start */
.Live-Cohort {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100vh;
}

.Live-Cohort-Count {
  font-size: 1.8em;
  border: 1.5px solid #de7214;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slider {
  max-width: 60vw;
  margin-block: 2.5rem;
}

.slider-img {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slider iframe {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #de7214;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  background-color: #ff7700;
}

/* Live COHORT Section End */
